.container {
  background-color: var(--color-dark--2);
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

.container div {
  margin: 20px 0;
  font-family: "Manrope", sans-serif;
}

.container p {
  font-size: 13px;
}

.container h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-light--2);
}

.container a {
  color: var(--color-brand--1);
}

.cityInfo div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cityInfo div img {
  width: 30px;
  height: 20px;
}
