@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;

  --color--light--1: #aaa;
  --color--light--2: #ececec;
  --color--light--3: #d6dee0;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  font-size: "Manrope", sans-serif;
  color: var(--color--light--2);
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-weight: 600;
  font-size: 1.6rem;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color--light--3);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: #fff;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 4px solid var(--color--light--3);
  border-top: 4px solid var(--color-brand--2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-brand--2);
  padding: 1rem;
  color: white;
  width: 100%;
  font-size: 18px;
}

.error_icon {
  transform: scale(1);
  transition: all 0.3s ease;
  animation: errorIcon 1s infinite;
}

@keyframes errorIcon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
